.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Mapas{
  padding-top: 20px;
  width: 100%;
  height: 90vh;
}

.mapaLeft{
  padding: 5px;
  width: 60%;
  height: 100%;
  float: left;

}
.mapaRight{
  padding: 5px;
  width: 35%;
  height: 100%;
  float: left;
}

.varSearch{
  z-index: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
